button {
  margin-right: 0.5rem;
}

.player {
  position: sticky;
  top: 1px;
  background-color: white;
  z-index: 1;
  text-align: center;
}

#mediaElement {
  max-width: 360px;
}

.phrase .text,
.phrase .num {
  display: inline-block;
}

.phrase .num {
  display: inline-block;
  border: 1px solid gold;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
}

input,
label {
  margin-right: 0.5rem;
}

section div {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dictation input {
  width: 40px;
}
